<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EPIONE HEALTHCARE - Index</title>  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/owl.carousel/../static/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:coe18b024@iiitdm.ac.in">coe18b024@iiitdm.ac.in</a>
        <i class="icofont-phone"></i> +91 9380193759
        <i class="icofont-google-map"></i> Melakottaiyur Village,Near Kandigai, Off Vandalur-Kelambakkam Road, Nellikuppam, Chennai, Tamil Nadu 600127, India
      </div>
      <!-- <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div> -->
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">EPIONE HEALTHCARE</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#doctors">Team</a></li>
          <li><a href="#gallery">Gallery</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="#appointment" class="appointment-btn scrollto">Check your Risk!</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to EPIONE <br> HEALTHCARE</h1>
      <h2>We are team of talented designers making a <br> virtual medical assistant that can generate reports <br> and help maintain health</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
      <a href="#appointment" class="btn-get-started scrollto">Check your Risk!</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose EPIONE?</h3>
              <p>
                We strive to provide the most accurate health report of our clients and provide information such as Risk of Diabetes 
              </p>
              <!-- <div class="text-center">
                <a href="#" class="more-btn"> Learn More <i class="bx bx-chevron-right"></i></a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="iconx_test = [int(x) for x in request.form.values()]
            print(x_test)-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Machine Learning System </h4>
                    <p>To provide the best algorithm to calculate the most accurate risk for our clients</p>                    
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Easy Visualization</h4>
                    <p>We provide easy to understand Visualization so that it is easier to interpret our report</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
            <a href="https://drive.google.com/file/d/1zfu3sUFSD2bUbVSvcqOff31mhoGECejT/view?usp=sharing" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>What is EPIONE ?</h3>
            <p>EPIONE is a Virtual Medical Assistant that is available online for clients to access anywhere</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Our Goal</a></h4>
              <p class="description">EPIONE's Goal is to improve the lifestyle of people so as to prevent risk of preventable diseases like Diabetes 2</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">How do we Help?</a></h4>
              <p class="description">We are able to monitor and calculate your Risk of Diabetes by taking input regarding the user in the form given below</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">How do we improve?With more Users!</a></h4>
              <p class="description">As more and more users input into our assistant our Algorithm learns more and more as well</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">

        <div class="section-title">
          <h2>EPIONE MEDICAL ASSISTANT</h2>
          <p>Fill in Details so we can calculate Health Risk Index</p>
        </div>
        <form action="{{ url_for('y_predict')}}" method="post" role="form" class="php-email-form">

          <div class="form-row">
            <div class="col-md-4 form-group"></div>
            <div class="col-md-4 form-group">
              <input type="number" name="Glucose" class="form-control" id="Glucose" placeholder="Your Glucose Level (mg/DL)"  min=0 max=250 required>
            </div>
            
          </div>

          <div class="form-row">
            <div class="col-md-4 form-group"></div>
            <div class="col-md-4 form-group">
              <input type="number" name="BloodPressure" class="form-control" id="BP" placeholder="Your Blood Pressure (mmHg)" min=0 max=190 required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 form-group"></div>
            <div class="col-md-4 form-group">
              <input type="number" name="Skin Thickness" class="form-control" id="SkinThick" placeholder="Your Skin Thickness (um)" min=0 max=100 required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 form-group"></div>
            <div class="col-md-4 form-group">
              <input type="number" name="Insulin" class="form-control" id="Insulin" placeholder="Your Insulin Level (mg/DL)" min=0 max=280 required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 form-group"></div>
            <div class="col-md-4 form-group">
              <input type="number" name="BMI" class="form-control" id="BMI" placeholder="Your BMI" min=0 max=60  required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 form-group"></div>
            <div class="col-md-4 form-group">
              <input type="number" name="Age" class="form-control" id="Age" placeholder="Your Age" min=0 max=200 required>
            </div>
          </div>
          <div class="mb-3">
          </div>
          <div class="text-center"><button type="submit">Calculate Health Risk!</button></div>
        </form>

        <p>{{output}}</p>
        <script>
          console.log(output)
        </script>
      </div>
    </section><!-- End Appointment Section -->


    <!-- ======= Team Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>EPIONE GROUP(B1-01)</h2>
          <p>We are the Team behind EPIONE MEDICAL ASSISTANT</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/img/doctors/PK.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Paleti Krishnasai - CED18I039</h4>
                <span>Lead Developer</span>
                <p>Supervises and Leads Development of the Medical Assistant</p>
                <!-- <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/img/doctors/PU.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Uppalapati Pranita - CED18I062</h4>
                <span>Developer</span>
                <p>Works on the development of the Backend of the Application</p>
                <!-- <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/img/doctors/HRM.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Hrishikesh R Menon - COE18B024</h4>
                <span>Lead Designer</span>
                <p>Concept Designer and Main Developer of FrontEnd</p>
                <!-- <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/img/doctors/PB.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Preety Banjare - COE17B038</h4>
                <span>Concept Designer</span>
                <p>Concept and UI/UX Designer</p>
                <!-- <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div> -->
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Images of our Project Plan and Ethnographic Study at a local school to monitor child behavior</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
                <img src="../static/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                <img src="../static/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                <img src="../static/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/img/gallery/gallery-4.png" class="venobox" data-gall="gallery-item">
                <img src="../static/img/gallery/gallery-4.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/img/gallery/gallery-5.png" class="venobox" data-gall="gallery-item">
                <img src="../static/img/gallery/gallery-5.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/img/gallery/gallery-6.png" class="venobox" data-gall="gallery-item">
                <img src="../static/img/gallery/gallery-6.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/img/gallery/gallery-7.png" class="venobox" data-gall="gallery-item">
                <img src="../static/img/gallery/gallery-7.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                <img src="../static/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>EPIONE HEALTHCARE</h3>
            <p>
              Melakottaiyur Village,Near Kandigai,<br>
              Off Vandalur-Kelambakkam Road, Nellikuppam,  <br>
              Chennai, Tamil Nadu 600127, India <br><br>
              <strong>Phone:</strong> +91 9380193759<br>
              <strong>Email:</strong> coe18b024@iiitdm.ac.in<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#doctors">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#gallery">Gallery</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>EPIONE HEALTHCARE</span></strong>. All Rights Reserved
        </div>
      </div>  
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>